body{
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: black;
  color: white;
  overflow: hidden;
 }

.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar{
    background-color: black;
    width: 340px;
    border-radius: 1rem; /* 16px */
    margin-right: 0.5rem;
}

.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}

.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}

a{
    text-decoration: none;
    color: white;
}

.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover{
    opacity: 1;
}

.nav-option i{
    font-size: 1.25rem;
}

.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}

.icons{
    font-size: 1.25rem;
    display: flex;
}

.icons i{
    opacity: 0.7;
    margin: 1rem;
}

.icons i:hover{
    opacity: 1;
}

.box{
    height: 8rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}

.box-p1{
    font-size: 1rem;
    font-weight: 500;
}

.box-p2{
    font-size: 0.85rem;
    opacity: 0.9;
}

.badge{
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
    cursor: pointer;
}

.dark-badge{
    background-color: rgb(0, 0, 0);
    color: white;
}
.dark-badge:hover{
    background-color: rgba(60, 255, 0, 0.53);
    color: white;
}

.hello{
    background-color: rgba(75, 75, 75, 0.578);
    color: rgb(26, 255, 0);
}


.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}

.sticky-nav-icons img{
    margin-left: 0.75rem;
}

.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-nav-options button{
    margin-right: 1rem;
}

.nav-item{
    margin-right: 1rem;
}

@media(max-width: 1000px) {
    .hide{
        display: none;
    }
}

.tap{
    cursor: pointer;
}
.tap:hover{
text-decoration: underline;
}

.card{
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
}

.card:hover{
    background-color: #232323;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
}

.card-img{
    width: 100%;
    border-radius: 0.5rem;
}

.card-title{
    font-weight: 600;
}

.card-info{
    font-size: 0.78rem;
    opacity: 0.8;
}

.footer{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    width: 90%;
    height: 50%;
    border-top: 1px solid white;
    opacity: 0.4;
}

.music-player{
    display: flex;
    justify-content: center;
    align-items: center;
}

.album{
    width: 25%;
}

.player{
    width: 50%;
}

.controls{
    width: 25%;
}

.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.player-control-icon{
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}

.player-control-icon:hover{
    opacity: 1;
}

.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}

.album-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.album-control-icon{
    height: 1.5rem;
    opacity: 0.7;
    margin-left: 35px;
}

.album-control-icon:hover{
    opacity: 1;
}

.album-img{
    width: 60px;
    height: 60px;
    border-radius: 0.5rem;
    margin-right: 20px;
    cursor: pointer;
}

.album-name{
    font-weight: 500;
}

.singer{
    font-size: 0.75rem;
    opacity: 0.8;
    margin-top: -13px;
}

.controls-icon{
    height: 1.5rem;
    opacity: 0.7;
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.controls-icon:hover{
    opacity: 1;
}


.volume {
    width: 40%;
    height: 5px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    height: 0.3rem;
}

@media(max-width: 1000px) {
    .controls{
        display: none;
    }
}

@media(max-width: 825px) {
    .album-control-icon{
        display: none;
    }
}

@media(max-width: 1130px) {
    .singer{
      display: none;
    }
}

@media(max-width: 760px) {
    .album-name{
        display: none;
    }
}

@media(max-width: 600px) {
    .album{
        display: none;
    }
}

@media(max-width: 575px) {
    .sidebar{
        display: none;
    }
}

@media(max-width: 415px) {
    .card{
        width: 80px;
        border-radius: 0.2rem;
        padding: 0.4rem;
        margin-left: 0.5rem;
        margin-top: 0.4rem;
    }
}

@media(max-width: 415px) {
    .card-title{
        font-weight: 200;  
    }
}

@media(max-width: 415px) {
    .card-info{
        display: none;
    }
}

@media(max-width: 415px) {
    .playback-bar{
        display: none;
    }
}